<section class="banner">
  <div class="container">
    <div class="row colum">
      <div class="col-sm-3">
        <img src="./assets/img/logo.PNG" width="200px">
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <p>La experiencia y profesionalidad en gestión y tramites inmobiliarios nos hacen diferentes.</p>
        <div class="content">
          <p>La seguridad de tu patrimonio es nuestro compromiso.</p>
        </div>
        <a routerLink="/servicios" class="btnRead">Leer Mas</a>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</section>
