

.banner{
  position: relative;
  background: url('./bg/oficinav2.png');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 100px 0 200px;
}

.banner h2{
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  font-weight: 600;
  color: #da1e1e;
  text-transform: uppercase;
}


.banner p{
  margin-left: 10px;
  margin: 1em 0 0;
  padding: 0;
  font-size: 23px;
  line-height: 1.5em;
  color: #262626;
}

.btnRead{
  display: inline-block;
  margin: 1em 0 0;
  background: #f00f0f;
  color: white;
  padding: 10px 10px;
  text-transform: uppercase;
  border: none;
  font-weight: 800;
}

.btnRead:hover{
  color:white;
  text-decoration: none;
}




@media (max-width:770px){
  .colum{
    display: flex;
    gap: 0;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

  }

  .banner{
    position: relative;
    background: url('./bg/oficinav3.png');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 50px 0 200px;
  }
}

