<div class="fondo">
  <div class="contactUs">
    <div class="title">
      <h2>Contactanos</h2>
    </div>
    <div class="box">
      <div class="contact form">
        <h3>Envia un Mensaje</h3>
        <form>
          <div class="formBox">
            <div class="row50">
              <div class="inputBox">
                <span>Nombre</span>
                <input type="text" placeholder="Juan">
              </div>
              <div class="inputBox">
                <span>Apellido</span>
                <input type="text" placeholder="Alvarez">
              </div>
            </div>
            <div class="row50">
              <div class="inputBox">
                <span>Correo Electronico</span>
                <input type="email" placeholder="example@email.com">
              </div>
              <div class="inputBox">
                <span>Telefono</span>
                <input type="tel" placeholder="+91 987 654 3210">
              </div>
            </div>
              <div class="row100">
                <div class="inputBox">
                  <span>Mensaje</span>
                  <textarea placeholder="Escribe tu mensaje aqui..."></textarea>
                </div>
              </div>
              <div class="row100">
                <div class="inputBox">
                  <input type="submit" value="Enviar">
                </div>
              </div>
          </div>
        </form>
      </div>
      <div class="contact info">
        <h3>Informacion de Contacto</h3>
        <div class="infobox">
          <div>
            <span><img src="./assets/img/location.png" width="24px"></span>
            <p>Nogal 402, Arboledas, 76140 Santiago de Querétaro, Qro.</p>
          </div>
          <div>
            <span><img src="./assets/img/location.png" width="24px"></span>
            <p>Emiliano Zapata, Centro, 76850 Amealco, Qro.</p>
          </div>
          <div>
            <span>
              <img src="./assets/img/mail.png" width="24px">
            </span>
            <a href="">correo@grupoimas.com</a>
          </div>
          <div>
            <span>
              <img src="./assets/img/phone.png" width="24px">
            </span>
            <a href="tel: 4422120770">+52 442 161 0121</a>
          </div>
        </div>
        <ul class="sci">
          <li><a href="https://es-la.facebook.com/GrupooImas/"><img src="./assets/img/facebook.png" width="24px"></a></li>
          <li><a href="https://www.instagram.com/grupo.imas/"><img src="./assets/img/instagram.png" width="24px"></a></li>
          <li><a href="https://api.whatsapp.com/send?phone=4423452460"><img src="./assets/img/logo-whatsapp.png" width="24px"></a></li>
        </ul>
      </div>
      <div class="contact map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3744.7630837528736!2d-100.1435903850813!3d20.18558758646117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d31a4c05226695%3A0xcc858e1771d286eb!2sGrupo%20Inmobiliario%20IMAS!5e0!3m2!1ses-419!2smx!4v1643851873447!5m2!1ses-419!2smx" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>

