<div class="wrapper">
  <h2>Nuestros Servicios</h2>
  <p>"La seguridad de tu patrimonio es nuestro compromiso."</p>
  <div class="content-box">
    <div class="cards">
      <img src="./assets/services/mision.png" alt="">
      <h3>Misión</h3>
      <p>La seguridad de tu patrimonio es nuestro compromiso.</p>
    </div>
    <div class="cards">
      <img src="./assets/services/vision-estrategica.png" alt="">
      <h3>Visión</h3>
      <p>Ser líder del sector inmobiliario por la calidad de sus proyectos y
        la excelencia en los servicios prestados.
       </p>
    </div>
    <div class="cards">
      <img src="./assets/services/edificio-de-oficinas.png" alt="">
      <h3>Empresa dedicada a</h3>
      <p>Proyecto y construcción, Obra civil, Comercialización de materiales para la construcción, Consultoría y Más.</p>
    </div>
  </div>
  <div class="content-box2">
    <div class="cards2">
      <img src="./assets/services/consultoria.png" alt="">
      <h3>Consultoría, Asesoría y Representación</h3>
      <p>Area legal, Escrituración, Gestoría, Avalúos.</p>
      <p>Asesoría Jurídica: Civil, Mercantil, Penal, Laboral y Fiscal; Asesoramiento en compra y venta de inmuebles.</p>
      <p>Desincorporación ejidal y desarrollos, Asesoramiento en compra y venta de inmuebles</p>
    </div>
  </div>
  <div class="content-box">
    <div class="cards f1">
      <img src="./assets/services/ventas.png" alt="">
      <h3>Comercialización de inmuebles</h3>
      <p>Promoción y Publicidad</p>
      <p>Localización de inmuebles para venta y renta.</p>
    </div>
    <div class="cards f1">
      <img src="./assets/services/admin.png" alt="">
      <h3> Administración de inmuebles</h3>
      <p>Administración de inmuebles rentados.</p>
      <p>Promoción de arrendamientos.</p>
    </div>
    <div class="cards f1">
      <img src="./assets/services/proyecto.png" alt="">
      <h3>Proyecto, construcción obra civil y Desarrollos</h3>
      <p>Inmobiliarios, Obra civil, Remodelación</p>
      <p>Dirección y desarrollo de Proyectos</p>
      <p>Diseño de Proyectos, Materiales para la construcción.</p>

    </div>
  </div>
</div>
