<footer class="pie-pagina">
  <div class="grupo-1">
    <div class="box">
      <figure>
        <a href="#">
          <img src="./assets/img/logo-pie.png" alt="">
        </a>
      </figure>
    </div>
    <div class="box">
      <h2>Sobre Nosotros</h2>
      <p>La seguridad de tu patrimonio es nuestro compromiso.</p>
      <p>La experiencia y profesionalidad en gestión y tramites inmobiliarios nos hacen diferentes.</p>

    </div>
    <div class="box">
      <h2>Siguenos</h2>
      <div class="red-social">
        <a href="https://es-la.facebook.com/GrupooImas/">
          <i class="icon ion-logo-facebook"></i>
        </a>
        <a href="https://www.instagram.com/grupo.imas/">
          <i class="icon ion-logo-instagram"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="grupo-2">
    <small>&copy; 2022 <b>Grupo Imas</b>- Todos los Derechos Reservados.</small>
  </div>
</footer>
