
  <div class="containers">
    <div class="title">
      <h1>¿Quienes Somos?</h1>
    </div>
    <div class="contents">
      <div id="carouselExampleFade" class="carousel slide carousel-fade sombra borde" data-bs-ride="carousel">
        <div class="carousel-inner borde">
          <div class="carousel-item active">
            <img src="./assets/img/info1.png" class="d-block w-100 " alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/info2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/info3.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./assets/img/info4.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="content">
      <div class="article sombra">
        <h2>
          Mision
        </h2>
        <p>Ser lider del sector inmobiliario por la calidad de sus proyectos y la excelencia en los servicios.</p>
      </div>
      <div class="article sombra">
        <h2>
          Vision
        </h2>
        <p>Ser lider del sector inmobiliario por la calidad de sus proyectos y la excelencia en los servicios.</p>
      </div>
      <div class="article sombra">
        <h2>
          Servicios
        </h2>
        <p>Somos una empresa dedicada a</p>
          <li>Promocion de inmuebles</li>
          <li>Comercializacion de inmuebles</li>
          <li>Consultoria, Asesoria y Representacion</li>
          <li>Proyecto y Construccion</li>
          <li>Avaluos comerciales y fiscales</li>
      </div>
    </div>

  </div>
